In [1]:
import pandas as pd
import numpy as np

# Import Data from UCI Machine Learning Repository
url ='https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
mpg_data = pd.read_fwf(url,header=None)
mpg_data.head(10)

      0  1      2      3       4     5   6  7                            8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  "chevrolet chevelle malibu"
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          "buick skylark 320"
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         "plymouth satellite"
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              "amc rebel sst"
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                "ford torino"
5  15.0  8  429.0  198.0  4341.0  10.0  70  1           "ford galaxie 500"
6  14.0  8  454.0  220.0  4354.0   9.0  70  1           "chevrolet impala"
7  14.0  8  440.0  215.0  4312.0   8.5  70  1          "plymouth fury iii"
8  14.0  8  455.0  225.0  4425.0  10.0  70  1           "pontiac catalina"
9  15.0  8  390.0  190.0  3850.0   8.5  70  1         "amc ambassador dpl"

In [2]:
# Column Names via Attribute Information on UCI Machine Learning Repository website
mpg_data.columns = ["mpg", "cylinders", "displacement", "horsepower",
                    "weight", "acceleration", "model_year", "origin",
                    "car_name"]

In [3]:
mpg_data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,"""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,"""chevrolet impala"""
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,"""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,"""pontiac catalina"""
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,"""amc ambassador dpl"""

In [4]:
print("The DataFrame consists of {} rows and {} features".format(mpg_data.shape[0],mpg_data.shape[1]))

The DataFrame consists of 398 rows and 9 features

In [5]:
mpg_data.info(max_cols=9, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [6]:
mpg_data.describe()

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [7]:
total = mpg_data.count()
temp = pd.DataFrame(total)
temp.columns = ['Total']
uniques = []

for col in mpg_data.columns:
    unique = mpg_data[col].nunique()
    uniques.append(unique)
temp['Uniques'] = uniques
print(np.transpose(temp))

         mpg  cylinders  displacement  horsepower  weight  acceleration  \
Total    398        398           398         398     398           398
Uniques  129          5            82          94     351            95

         model_year  origin  car_name
Total           398     398       398
Uniques          13       3       305

In [8]:
sum(mpg_data.horsepower=='?')

6

In [9]:
mpg_data=mpg_data[mpg_data.horsepower!='?']

In [10]:
mpg_data.horsepower=mpg_data.horsepower.astype('float64')

In [11]:
mpg_data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [12]:
mpg_data.shape

(392, 9)

In [13]:
# Select the 'int64' columns
mask = mpg_data.dtypes == np.int64
categorical_cols = mpg_data.columns[mask]

In [14]:
# Determine how many extra columns would be created
num_ohc_cols = (mpg_data[categorical_cols]
                .apply(lambda x: x.nunique())
                .sort_values(ascending=False))


# No need to encode if there is only one value
small_num_ohc_cols = num_ohc_cols.loc[num_ohc_cols>1]

# Number of one-hot columns is one less than the number of categories
small_num_ohc_cols -= 1

# The number of columns, assuming the original ones are dropped. 
small_num_ohc_cols.sum()

18

In [15]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Copy of the data
mpg_data_ohc = mpg_data.copy()

# The encoders
le = LabelEncoder()
ohc = OneHotEncoder()

for col in num_ohc_cols.index:
    
    # Encode the int64 categories
    dat = le.fit_transform(mpg_data_ohc[col]).astype(np.int64)
    
    # Remove the original column from the dataframe
    mpg_data_ohc = mpg_data_ohc.drop(col, axis=1)

    # One hot encode the data--this returns a sparse array
    new_dat = ohc.fit_transform(dat.reshape(-1,1))

    # Create unique column names
    n_cols = new_dat.shape[1]
    col_names = ['_'.join([col, str(x)]) for x in range(n_cols)]

    # Create the new dataframe
    new_df = pd.DataFrame(new_dat.toarray(), 
                          index=mpg_data_ohc.index, 
                          columns=col_names)

    # Append the new data to the dataframe
    mpg_data_ohc = pd.concat([mpg_data_ohc, new_df], axis=1)

In [16]:
from sklearn.model_selection import train_test_split

y_col = 'mpg'

# Split the data that is not one-hot encoded
feature_cols = [x for x in mpg_data.columns if x not in ["mpg","origin","model_year","cylinders","car_name"]]
X_data = mpg_data[feature_cols]
y_data = mpg_data[y_col]

X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, 
                                                    test_size=0.3, random_state=42)

# Split the data that is one-hot encoded
feature_cols = [x for x in mpg_data_ohc.columns if x not in ["mpg","car_name"]]
X_data_ohc = mpg_data_ohc[feature_cols]
y_data_ohc = mpg_data_ohc[y_col]

X_train_ohc, X_test_ohc, y_train_ohc, y_test_ohc = train_test_split(X_data_ohc, y_data_ohc, 
                                                    test_size=0.3, random_state=42)

In [19]:
import statsmodels.api as sm

model = sm.OLS.from_formula('mpg ~' + '+'.join(mpg_data.columns.difference(['mpg','cylinders','model_year','origin','car_name'])),mpg_data)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.704
Method:                 Least Squares   F-statistic:                     233.4
Date:                Tue, 21 Mar 2023   Prob (F-statistic):          9.63e-102
Time:                        23:15:41   Log-Likelihood:                -1120.6
No. Observations:                 392   AIC:                             2251.
Df Residuals:                     387   BIC:                             2271.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       45.2511      2.456     18.424      0.000      40.422      50.080
acceleration    -0.0231      0.126     -0.184      0.854      -0.270       0.224
displacement    -0.0060      0.007     -0.894      0.372      -0.019       0.007
horsepower      -0.0436      0.017     -2.631      0.009      -0.076      -0.011
weight          -0.0053      0.001     -6.512      0.000      -0.007      -0.004
==============================================================================
Omnibus:                       38.359   Durbin-Watson:                   0.861
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               51.333
Skew:                           0.715   Prob(JB):                     7.13e-12
Kurtosis:                       4.049   Cond. No.                     3.56e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.56e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
model = sm.OLS.from_formula('mpg ~' + '+'.join(mpg_data_ohc.columns.difference(['mpg','car_name'])),mpg_data_ohc)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.874
Model:                            OLS   Adj. R-squared:                  0.867
Method:                 Least Squares   F-statistic:                     116.8
Date:                Tue, 21 Mar 2023   Prob (F-statistic):          2.64e-151
Time:                        23:15:52   Log-Likelihood:                -954.59
No. Observations:                 392   AIC:                             1955.
Df Residuals:                     369   BIC:                             2047.
Df Model:                          22
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        24.8370      1.187     20.922      0.000      22.503      27.171
acceleration      0.0036      0.087      0.042      0.967      -0.167       0.174
cylinders_0       0.1190      1.353      0.088      0.930      -2.541       2.780
cylinders_1       7.0590      0.539     13.103      0.000       6.000       8.118
cylinders_2       6.7568      1.478      4.573      0.000       3.851       9.662
cylinders_3       4.4164      0.611      7.233      0.000       3.216       5.617
cylinders_4       6.4859      0.999      6.491      0.000       4.521       8.451
displacement      0.0118      0.007      1.745      0.082      -0.001       0.025
horsepower       -0.0392      0.013     -3.010      0.003      -0.065      -0.014
model_year_0     -0.9894      0.605     -1.635      0.103      -2.180       0.201
model_year_1     -0.0790      0.537     -0.147      0.883      -1.135       0.977
model_year_10     8.0695      0.559     14.437      0.000       6.970       9.169
model_year_11     5.4687      0.535     10.214      0.000       4.416       6.522
model_year_12     6.8482      0.537     12.744      0.000       5.791       7.905
model_year_2     -1.4797      0.547     -2.708      0.007      -2.554      -0.405
model_year_3     -1.5423      0.476     -3.237      0.001      -2.479      -0.605
model_year_4      0.2526      0.546      0.462      0.644      -0.821       1.326
model_year_5     -0.1190      0.525     -0.227      0.821      -1.151       0.913
model_year_6      0.5072      0.486      1.044      0.297      -0.448       1.462
model_year_7      2.0093      0.525      3.825      0.000       0.976       3.042
model_year_8      1.9843      0.472      4.203      0.000       1.056       2.913
model_year_9      3.9067      0.519      7.532      0.000       2.887       4.927
origin_0          6.9503      0.510     13.617      0.000       5.947       7.954
origin_1          8.6435      0.501     17.243      0.000       7.658       9.629
origin_2          9.2432      0.464     19.927      0.000       8.331      10.155
weight           -0.0052      0.001     -8.300      0.000      -0.006      -0.004
==============================================================================
Omnibus:                       32.560   Durbin-Watson:                   1.574
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               55.829
Skew:                           0.528   Prob(JB):                     7.53e-13
Kurtosis:                       4.518   Cond. No.                     2.80e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.82e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.